<template>
  <div id="app">
    <nav class="navbar navbar-default navbar-pf" role="navigation">
      <div class="navbar-header">
        <button
          type="button"
          class="navbar-toggle"
          data-toggle="collapse"
          data-target=".navbar-collapse-1"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <router-link to="/" class="navbar-brand"><span id="apptitle">mGUI</span></router-link>
      </div>
      <div class="collapse navbar-collapse navbar-collapse-1">
        <ul class="nav navbar-nav navbar-utility">
          <li class="dropdown">
            <button
              class="btn btn-link nav-item-iconic"
              id="horizontalDropdownMenu1"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="true"
            >
              <span title="Help" class="fa pficon-help dropdown-title"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="horizontalDropdownMenu1">
              <li>
                <a href="#0">Help</a>
              </li>
              <li>
                <router-link to="/about">About</router-link>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <button class="btn btn-link dropdown-toggle" data-toggle="dropdown">
              <span class="pficon pficon-user"></span>
              <span class="dropdown-title">Brian Johnson
                <b class="caret"></b>
              </span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a href="#0">Link</a>
              </li>
              <li>
                <a href="#0">Another link</a>
              </li>
              <li>
                <a href="#0">Something else here</a>
              </li>
              <li class="divider"></li>
              <li class="dropdown-submenu">
                <a tabindex="-1" href="#0">More options</a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="#0">Link</a>
                  </li>
                  <li>
                    <a href="#0">Another link</a>
                  </li>
                  <li>
                    <a href="#0">Something else here</a>
                  </li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li>
                    <a href="#0">Separated link</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="#0">One more separated link</a>
                  </li>
                </ul>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#0">One more separated link</a>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-primary">
          <NavLink target="/" name="Home"/>
          <NavLink target="/dash" name="Dashboard"/>
          <NavLink target="/databases" name="Databases"/>
        </ul>
      </div>
    </nav>
    <router-view/>
  </div>
</template>

<!--script src="script!jquery/dist/jquery.js"></script>
<script src="bootstrap/dist/js/bootstrap.js"></script>
<script src="patternfly/dist/patternfly.js"></script-->

<script>
import NavLink from '@/components/NavLink.vue'
export default {
  components: {
    NavLink
  }
}
</script>

<style src="patternfly/dist/css/patternfly.min.css"></style>
<style src="patternfly/dist/css/patternfly-additions.min.css"></style>
<style lang="less" scoped>
#apptitle {
  font-weight: bold;
}
</style>
