<template>
  <div class="card-pf card-pf-accented card-pf-aggregate-status">
    <h2 class="card-pf-title">
      <router-link to="/databases"><span class="fa fa-database"></span>
      <span class="card-pf-aggregate-status-count">{{databases}}</span> databases</router-link>
    </h2>
    <div class="card-pf-body">
      <p class="card-pf-aggregate-status-notifications">
        <span class="card-pf-aggregate-status-notification">
          <a href="#" class="add" data-toggle="tooltip" data-placement="top" title="Add Ipsum">
            <span class="pficon pficon-add-circle-o"></span>
          </a>
        </span>
      </p>
    </div>
  </div>
</template>

<script>
import store from '@/store.js'

export default {
  name: 'DatabaseStatusCard',
  computed: {
    databases () {
      return store.state.dbs.length
    }
  },
  beforeCreate () {
    store.dispatch('refreshDatabases')
  }
}
</script>
