<template>
  <div class="list-group-item">
    <div class="list-view-pf-checkbox">
      <input type="checkbox">
    </div>
    <div class="list-view-pf-actions">
      <button class="btn btn-default">View</button>
      <div class="dropdown pull-right dropdown-kebab-pf">
        <button
          class="btn btn-link dropdown-toggle"
          type="button"
          id="dropdownKebabRight9"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="true"
        >
          <span class="fa fa-ellipsis-v"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight9">
          <li>
            <a href="#">View</a>
          </li>
          <li>
            <a href="#">Another Action</a>
          </li>
          <li>
            <a href="#">Something Else Here</a>
          </li>
          <li role="separator" class="divider"></li>
          <li>
            <a href="#">Separated Link</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="list-view-pf-main-info">
      <div class="list-view-pf-left">
        <span class="fa fa-database list-view-pf-icon-sm"></span>
      </div>
      <div class="list-view-pf-body">
        <div class="list-view-pf-description">
          <div class="list-group-item-heading">{{ dbname }}</div>
        </div>
        <div class="list-view-pf-additional-info">
          <div class="list-view-pf-additional-info-item">
            <span class="pficon pficon-repository"></span>
            <strong>{{ collections }}</strong> Collections
          </div>
          <div class="list-view-pf-additional-info-item">
            <span class="pficon pficon-users"></span>
            <strong>6</strong> Users
          </div>
          <div class="list-view-pf-additional-info-item">
            <span class="fa fa-file"></span>
            <strong>{{ documents }}</strong> Documents
          </div>
          <div class="list-view-pf-additional-info-item">
            <span class="fa fa-list-ol"></span>
            <strong>{{ indexes }}</strong> Indices
          </div>
          <div class="list-view-pf-additional-info-item">
            <span class="fa fa-folder-open"></span>
            <strong>{{ dataSize }}</strong>Data size
          </div>
          <div class="list-view-pf-additional-info-item">
            <span class="fa fa-folder"></span>
            <strong>{{ storageSize }}</strong>Storage size
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Numeral from 'numeral'

export default {
  name: 'DatabaseListItem',
  computed: {
    collections () {
      if (this.$store.state.dbDetails[this.dbname] === undefined) {
        return 0
      }
      return this.$store.state.dbDetails[this.dbname].collections
    },
    indexes () {
      if (this.$store.state.dbDetails[this.dbname] === undefined) {
        return 0
      }
      return this.$store.state.dbDetails[this.dbname].indexes
    },
    documents () {
      if (this.$store.state.dbDetails[this.dbname] === undefined) {
        return 0
      }
      return Numeral(this.$store.state.dbDetails[this.dbname].objects).format('0[.]00a')
    },
    storageSize () {
      if (this.$store.state.dbDetails[this.dbname] === undefined) {
        return 0
      }
      return Numeral(this.$store.state.dbDetails[this.dbname].storageSize).format('0.00b')
    },
    dataSize () {
      if (this.$store.state.dbDetails[this.dbname] === undefined) {
        return 0
      }
      return Numeral(this.$store.state.dbDetails[this.dbname].dataSize).format('0.00b')
    }
  },
  props: {
    dbname: String
  },
  created () {
    this.$store.dispatch('getDatabaseDetails', this.dbname)
  }
}
</script>

<style>
</style>
