<template>
  <router-link tag="li" :to="target">
    <a>{{ name }}</a>
  </router-link>
</template>

<script>

export default {
  name: 'NavLink',
  props: {
    target: String,
    name: String
  }
}
</script>
