<template>
  <div>
    <div class="container-fluid container-cards-pf">
      <div class="row row-cards-pf">
        <div class="col-xs-6 col-sm-4 col-md-4">
            <DatabaseStatusCard/>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-4">
          <div class="card-pf card-pf-accented card-pf-aggregate-status">
            <h2 class="card-pf-title">
              <a href="#">
                <span class="fa fa-shield"></span>
                <span class="card-pf-aggregate-status-count">20</span> Amet
              </a>
            </h2>
            <div class="card-pf-body">
              <p class="card-pf-aggregate-status-notifications">
                <span class="card-pf-aggregate-status-notification">
                  <a href="#">
                    <span class="pficon pficon-error-circle-o"></span>4
                  </a>
                </span>
                <span class="card-pf-aggregate-status-notification">
                  <a href="#">
                    <span class="pficon pficon-warning-triangle-o"></span>1
                  </a>
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-4">
          <div class="card-pf card-pf-accented card-pf-aggregate-status">
            <h2 class="card-pf-title">
              <a href="#">
                <span class="fa fa-shield"></span>
                <span class="card-pf-aggregate-status-count">9</span> Adipiscing
              </a>
            </h2>
            <div class="card-pf-body">
              <p class="card-pf-aggregate-status-notifications">
                <span class="card-pf-aggregate-status-notification">
                  <span class="pficon pficon-ok"></span>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
</template>

<script>
import DatabaseStatusCard from '@/components/DatabaseStatusCard.vue'
export default {
  components: {
    DatabaseStatusCard
  }
}
</script>
